.container{
    font-size: 16px;
    margin-left: 10px;
}
.resim{
    text-align: -webkit-center;
}
img{
        width: 351px;
        aspect-ratio: auto 351 / 113;
        height: 113px;
}

.clear{
    clear: both;
}
.article{
    font-size: 14px;
    margin: 0 5% 0 5%;
}
#s1{
    float: left;
    width: 35.8%;
    height: 74px;
    background-color: #7ee5da;
}
#s2{
    float: left;
    width: 20%;
    height: 74px;
    background-color: #70ccc2;
    margin: 0 0.1% 0 0.1%;
}
#s3{
    float: left;
    width: 44%;
    height: 74px;
    background-color: #62b3aa;
}
.nav{
    text-align: center;
    background-color: #eeeeee;
    margin:2px 5% 2px 5%;
}
input{
    font-size: 10px;
}
.footer{
    text-align: center;
    font-size: 12px;
    margin-top: 15px;
}
.maviyazi{
    text-align: center;
}